
*.toc
build/main/main.exe.manifest
*.zip
build/main/PKG-00.pkg
build/main/PYZ-00.pyz
build/main/warn-main.txt
build/main/xref-main.html
dist/main.exe
buildable-main.py
_pycache_
__pycache__/main.cpython-39.pyc
__pycache__/buildable-main.cpython-39.pyc
main.spec
